@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OnTask v2.0</h1>
    <p class="lead">Presented by Claris Solutions and Etavate Software.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Claris Solution</h2>
        <p>
            Claris Solutions is a leader in operational efficiency, bringing its expertise to retail chains and businesses for the past 25 years.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Etavate Systems/h2>
        <p>Etavate systems offers technology solutions for businesses to maximize organizational efficiency.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>