@model OnTaskV2.Models.ViewModels.TA_Table

@{ 
    ViewBag.Title = "Labor Optimization Table";
}

<table class="table">
    <tr>
        <th>Time</th>
        <th>Traffic</th>
        <th title="Percent of Daily Traffic">% Traffic</th>
        <th title="Transactions">Trans</th>
        <th title="Conversion Ratio">Conv Ratio</th>
        <th title="Actual Labor Hours">Actual Hours</th>
        <th title="Shopper To Associate Ratio">STAR</th>
        <th title="Recommended Labor Hours">Recommended Hours</th>
        <th title="Increase/Reduce Hours">+/- Hours</th>
    </tr>
    <!-This is static stuff to be replaced/>

    <tr>
        <td>10am</td>
        <td>127</td>
        <td>4.69%</td>
        <td>23</td>
        <td>18.1</td>
        <td>15</td>
        <td>8</td>
        <td>10</td>
        <td>-5</td>
    </tr>
    <tr>
        <td>11am</td>
        <td>224</td>
        <td>8.27%</td>
        <td>41</td>
        <td>18.3%</td>
        <td>18</td>
        <td>12</td>
        <td>17</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>12pm</td>
        <td>251</td>
        <td>9.27%</td>
        <td>45</td>
        <td>17.9%</td>
        <td>21</td>
        <td>12</td>
        <td>19</td>
        <td>-2</td>
    </tr>
    <tr>
        <td>1pm</td>
        <td>274</td>
        <td>10.12%</td>
        <td>49</td>
        <td>17.9%</td>
        <td>23</td>
        <td>12</td>
        <td>21</td>
        <td>-2</td>
    </tr>
    <tr>
        <td>2pm</td>
        <td>302</td>
        <td>11.15%</td>
        <td>57</td>
        <td>18.9%</td>
        <td>25</td>
        <td>12</td>
        <td>23</td>
        <td>-2</td>
    </tr>
    <tr>
        <td>3pm</td>
        <td>290</td>
        <td>10.71%</td>
        <td>49</td>
        <td>16.9%</td>
        <td>24</td>
        <td>12</td>
        <td>22</td>
        <td>-2</td>
    </tr>
    <tr>
        <td>4pm</td>
        <td>305</td>
        <td>11.26%</td>
        <td>52</td>
        <td>17%</td>
        <td>20</td>
        <td>15</td>
        <td>23</td>
        <td>3</td>
    </tr>
    <tr>
        <td>5pm</td>
        <td>273</td>
        <td>10.08%</td>
        <td>44</td>
        <td>16.1%</td>
        <td>19</td>
        <td>15</td>
        <td>21</td>
        <td>2</td>
    </tr>
    <tr>
        <td>6pm</td>
        <td>235</td>
        <td>8.68%</td>
        <td>41</td>
        <td>17.4%</td>
        <td>19</td>
        <td>12</td>
        <td>18</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>7pm</td>
        <td>242</td>
        <td>8.94%</td>
        <td>48</td>
        <td>19.8%</td>
        <td>17</td>
        <td>14</td>
        <td>19</td>
        <td>2</td>
    </tr>
    <tr>
        <td>8pm</td>
        <td>185</td>
        <td>6.83%</td>
        <td>39</td>
        <td>21.1%</td>
        <td>14</td>
        <td>13</td>
        <td>14</td>
        <td>0</td>
    </tr>
    <tr>
        <th>Total</th>
        <th>2,708</th>
        <th></th>
        <th>488</th>
        <th>18.0%</th>
        <th>214</th>
        <th>13</th>
        <th>208</th>
        <th>-6</th>
    </tr>
</table>