@model OnTaskV2.Models.ViewModels.TA_Table

@{ 
    ViewBag.Title = "Labor Optimization Table";
}

<table class="table">
    <tr>
        <th>Day</th>
        <th>Traffic</th>
        <th title="Transactions">Trans</th>
        <th>Sales</th>
        <th title="Actual Labor Hours">Actual Hours</th>
        <th title="Conversion Ratio">Conv</th>
        <th title="Average Transactions">Avg Trans</th>
        <th title="Shopper To Associate Ratio">STAR</th>
    </tr>
    <!-This is static stuff to be replaced/>

    <tr>
        <td>Sun</td>
        <td>3,331</td>
        <td>689</td>
        <td>$111,271</td>
        <td>240</td>
        <td>20.7%</td>
        <td>$161</td>
        <td>14</td>
    </tr>
    <tr>
        <td>Mon</td>
        <td>2,776</td>
        <td>497</td>
        <td>$82,214</td>
        <td>214</td>
        <td>17.9%</td>
        <td>$165</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Tue</td>
        <td>2,456</td>
        <td>398</td>
        <td>$63,774</td>
        <td>192</td>
        <td>16.2%</td>
        <td>$160</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Wed</td>
        <td>2,490</td>
        <td>414</td>
        <td>$67,371</td>
        <td>196</td>
        <td>16.6%</td>
        <td>$163</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Thu</td>
        <td>2,479</td>
        <td>426</td>
        <td>$67,371</td>
        <td>196</td>
        <td>16.6%</td>
        <td>$163</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Fri</td>
        <td>2,752</td>
        <td>511</td>
        <td>$67,371</td>
        <td>196</td>
        <td>16.6%</td>
        <td>$163</td>
        <td>13</td>
    </tr>
    <tr>
        <td>Sat</td>
        <td>3,384</td>
        <td>696</td>
        <td>$67,371</td>
        <td>196</td>
        <td>16.6%</td>
        <td>$163</td>
        <td>13</td>
    </tr>
    <tr>
        <th>Total</th>
        <th>2,708</th>
        <th></th>
        <th>488</th>
        <th>18.0%</th>
        <th>214</th>
        <th>13</th>
        <th>208</th>
        <th>-6</th>
    </tr>
    <tr>
        <th>Total</th>
        <th>19,668</th>
        <th>3,631</th>
        <th>$592,188</th>
        <th>1,490</th>
        <th>18.5%</th>
        <th>$163</th>
        <th>13</th>
    </tr>
</table>

<h2>Rankings</h2>
<table class="table">
    <tr>
        <th>Day</th>
        <th>Traffic</th>
        <th title="Transactions">Trans</th>
        <th>Sales</th>
        <th title="Actual Labor Hours">Actual Hours</th>
        <th title="Conversion Ratio">Conv</th>
        <th title="Average Transactions">Avg Trans</th>
        <th title="Shopper To Associate Ratio">STAR</th>
    </tr>
    <tr>
        <td>Sun</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>1</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Mon</td>
        <td>3</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>2</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Tue</td>
        <td>7</td>
        <td>7</td>
        <td>7</td>
        <td>6</td>
        <td>7</td>
        <td>6</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Wed</td>
        <td>5</td>
        <td>6</td>
        <td>6</td>
        <td>5</td>
        <td>6</td>
        <td>4</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Thu</td>
        <td>6</td>
        <td>5</td>
        <td>5</td>
        <td>7</td>
        <td>5</td>
        <td>3</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Fri</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Sat</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2</td>
        <td>2</td>
        <td>7</td>
        <td>7</td>
    </tr>
</table>