@model OnTaskV2.Models.ViewModels.TA_Table

@{ 
    ViewBag.Title = "Labor Optimization Table";
}

<div class="container">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Week Results</h3>
            </div>
            <div class="panel-body">
                <div class="clearfix">
                    <table class="table table-hover table-condensed" style="border:1px solid #afcee9">
                        <thead>
                            <tr style="background-color:#afcee9">
                                <th>Day</th>
                                <th>Traffic</th>
                                <th title="Transactions">Trans*</th>
                                <th>Sales</th>
                                <th title="Actual Labor Hours">Act Hrs*</th>
                                <th title="Conversion Ratio">Conv Ratio*</th>
                                <th title="Average Transactions">Avg Trans*</th>
                                <th title="Shopper To Associate Ratio">STAR*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sun</td>
                                <td>3,331</td>
                                <td>689</td>
                                <td>$111,271</td>
                                <td>240</td>
                                <td>20.7%</td>
                                <td>$161</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>Mon</td>
                                <td>2,776</td>
                                <td>497</td>
                                <td>$82,214</td>
                                <td>214</td>
                                <td>17.9%</td>
                                <td>$165</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Tue</td>
                                <td>2,456</td>
                                <td>398</td>
                                <td>$63,774</td>
                                <td>192</td>
                                <td>16.2%</td>
                                <td>$160</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Wed</td>
                                <td>2,490</td>
                                <td>414</td>
                                <td>$67,371</td>
                                <td>196</td>
                                <td>16.6%</td>
                                <td>$163</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Thu</td>
                                <td>2,479</td>
                                <td>426</td>
                                <td>$67,371</td>
                                <td>196</td>
                                <td>16.6%</td>
                                <td>$163</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Fri</td>
                                <td>2,752</td>
                                <td>511</td>
                                <td>$67,371</td>
                                <td>196</td>
                                <td>16.6%</td>
                                <td>$163</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Sat</td>
                                <td>3,384</td>
                                <td>696</td>
                                <td>$67,371</td>
                                <td>196</td>
                                <td>16.6%</td>
                                <td>$163</td>
                                <td>13</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr style="background-color:#afcee9">
                                <th>Total</th>
                                <th>19,668</th>
                                <th>3,631</th>
                                <th>$592,188</th>
                                <th>1,490</th>
                                <th>18.5%</th>
                                <th>$163</th>
                                <th>13</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Rankings</h3>
            </div>
            <div class="panel-body">
                <div class="clearfix">
                    <table class="table table-hover table-condensed" style="border:1px solid #afcee9">
                        <thead>
                            <tr style="background-color:#afcee9">
                                <th>Day</th>
                                <th>Traffic</th>
                                <th title="Transactions">Trns*</th>
                                <th>Sales</th>
                                <th title="Actual Labor Hours">Actl Hrs*</th>
                                <th title="Conversion Ratio">Conv*</th>
                                <th title="Average Transactions">Avg Trns*</th>
                                <th title="Shopper To Associate Ratio">STAR*</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sun</td>
                                <td>2</td>
                                <td>2</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Mon</td>
                                <td>3</td>
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                                <td>4</td>
                                <td>2</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Tue</td>
                                <td>7</td>
                                <td>7</td>
                                <td>7</td>
                                <td>6</td>
                                <td>7</td>
                                <td>6</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Wed</td>
                                <td>5</td>
                                <td>6</td>
                                <td>6</td>
                                <td>5</td>
                                <td>6</td>
                                <td>4</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>Thu</th>
                                <td>6</td>
                                <td>5</td>
                                <td>5</td>
                                <td>7</td>
                                <td>5</td>
                                <td>3</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>Fri</th>
                                <td>4</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>3</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>Sat</th>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>2</td>
                                <td>2</td>
                                <td>7</td>
                                <td>7</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

